.tableContainer {
    /* display: flex; */
    /* border: 1px solid; */
    padding: 10px;
    width: 90vw;
    margin: auto;
    /* flex-direction: column; */

    .table {
        /* border: 1px solid; */
        gap: 20px;
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;


        tr {
            width: 10%;
            /* border: 1px solid brown; */
            th{
                background-color: #DEEAF6;
                border: none ;
                /* width: 10px; */
                /* border: 1px solid red; */
                
            }
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

    }
}